html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url("/resources/img/background-html.png");

  background-repeat: no-repeat;
  background-size: 100%;
}
canvas {
  background: #eee;
  visibility: hidden;
  width: 600px; /* adjust to the desired width */
  margin: 0 auto;
  position: relative;
  top: -50px;
  align-self: flex-start;
}
#tittle-img{
  position: relative;
  top: -100px;
}

.game-div {
  display: flex;
  align-items: center;
}

#pause-button {
  text-align: left;
  display: none;
}

#start-btn {
  background-color: transparent;
  border: none;
  position: absolute;
}
